
.input{
    background: none;
    height: 42px;
    width: 250px;
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 0px 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
    outline: none;
}
.score{
    color: #fff;
    background-color:#712be2 ;
    font-size: 3rem;
    /* padding: 10px; */
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 25px;
    line-height: 80px;
    margin-bottom: 70px;
    font-weight: 600;
}